@tailwind base;
@tailwind components;
@tailwind utilities;



.listLash li::before {
  content: "";
  background-image: url('../assets/heart_icon.png');
  background-size: contain;
  display: inline-block;
  width: 1em;
  height: 1em;
  position: relative;
  top: 0.1rem;
  margin-right: 0.2rem;
}
