@tailwind base;
@tailwind components;
@tailwind utilities;



.listLash li::before {
  content: "";
  background-image: url('../assets/heart_icon.png');
  background-size: contain;
  display: inline-block;
  width: 1em;
  height: 1em;
  position: relative;
  top: 0.1rem;
  margin-right: 0.2rem;
}



/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #a8a8a8af #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
    background-color: transparent;
    background: transparent

  }
  



  *::-webkit-scrollbar-thumb {
    background-color: #dad9d9b2;
    border-radius: 10px;
    border: 1px solid #ffffff;

  }


  *::-webkit-scrollbar-thumb:hover {
    background-color: #c9c7c7;
    border-radius: 10px;
    border: 2px solid #ffffff;

  }
  